<a href="https://colab.research.google.com/github/fazmila/Project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
#Reading the dataset1
app_record= pd.read_csv('/content/drive/MyDrive/application_record.csv')
app_record

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,NaN,1.0
438553,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0
438554,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438555,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,NaN,2.0
438556,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

In [64]:
cred_record  = pd.read_csv('/content/drive/MyDrive/credit_record.csv')
cred_record

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [65]:
#To display the first five rows of the Application Data.
app_record.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [66]:
#To display the first five rows of the Credit Data.
cred_record .head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [67]:
#To show the number of rows and columns in dataset
app_record.shape

(438557, 18)

In [68]:
cred_record .shape

(1048575, 3)

In [69]:
# Find and display the unique values in the 'STATUS' column
unique_status_values = cred_record ['STATUS'].unique()
print("Unique values in the 'STATUS' column:", unique_status_values)

Unique values in the 'STATUS' column: ['X' '0' 'C' '1' '2' '3' '4' '5']

In [70]:
# Group data by ID and calculate the account age
account_age = cred_record .groupby('ID')['MONTHS_BALANCE'].agg(['min', 'max'])
# Calculate the age in months for each ID
account_age['ACCOUNT_AGE_MONTHS'] = account_age['max'] - account_age['min']
# Reset the index for better readability
account_age = account_age.reset_index()
account_age.head()

        ID  min  max  ACCOUNT_AGE_MONTHS
0  5001711   -3    0                   3
1  5001712  -18    0                  18
2  5001713  -21    0                  21
3  5001714  -14    0                  14
4  5001715  -59    0                  59

In [71]:
# Drop the 'min' and 'max' columns, keeping only 'ACCOUNT_AGE_MONTHS'
account_age = account_age[['ID', 'ACCOUNT_AGE_MONTHS']]

# Display the updated DataFrame
account_age.head()

        ID  ACCOUNT_AGE_MONTHS
0  5001711                   3
1  5001712                  18
2  5001713                  21
3  5001714                  14
4  5001715                  59

In [72]:
# Join account_age with app_record on 'ID'
app_record = app_record.merge(account_age, on='ID', how='left')
# Display the first few rows of the merged dataset
app_record.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,ACCOUNT_AGE_MONTHS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,15.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,14.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,29.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0

In [73]:
# Initialize 'Applicant_Category' column to None
cred_record ['Applicant_Category'] = None

# Define a function to classify applicants based on the 'STATUS' value
def classify_applicant(status):
    if status in ['2', '3', '4', '5']:
        return 'bad'
    else:
        return 'good'

# Apply the function to the 'STATUS' column to classify applicants
cred_record ['Applicant_Category'] = cred_record ['STATUS'].apply(classify_applicant)

In [74]:
# Display the unique values in the 'Applicant_Category' column
cred_record ['Applicant_Category'].unique()

array(['good', 'bad'], dtype=object)

In [75]:
# Create a new DataFrame to summarize applicant status
# Count occurrences of 'bad' and 'good' for each 'ID'
applicant_status = cred_record.groupby('ID')['Applicant_Category'].apply(
    lambda x: 'bad' if (x == 'bad').sum() > 0 else 'good'
).reset_index()

In [76]:
applicant_status

            ID Applicant_Category
0      5001711               good
1      5001712               good
2      5001713               good
3      5001714               good
4      5001715               good
...        ...                ...
45980  5150482               good
45981  5150483               good
45982  5150484               good
45983  5150485               good
45984  5150487               good

[45985 rows x 2 columns]

In [77]:
# Join the applicant_status DataFrame with the application_record DataFrame on the 'ID' column
app_record = pd.merge(app_record, applicant_status, how='inner', on='ID')

# Display the first few rows of the merged DataFrame
app_record

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,ACCOUNT_AGE_MONTHS,Applicant_Category
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,15.0,good
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,14.0,good
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,29.0,good
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0,good
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,5149828,M,Y,Y,0,315000.0,Working,Secondary / secondary special,Married,House / apartment,-17348,-2420,1,0,0,0,Managers,2.0,11.0,bad
36453,5149834,F,N,Y,0,157500.0,Commercial associate,Higher education,Married,House / apartment,-12387,-1325,1,0,1,1,Medicine staff,2.0,23.0,bad
36454,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,House / apartment,-12387,-1325,1,0,1,1,Medicine staff,2.0,32.0,bad
36455,5150049,F,N,Y,0,283500.0,Working,Secondary / secondary special,Married,House / apartment,-17958,-655,1,0,0,0,Sales staff,2.0,9.0,bad
36456,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,13.0,bad

In [78]:
app_record.shape

(36457, 20)

In [79]:
# Function to calculate the age of a customer in years
def calculate_age(days_birth):
    return abs(days_birth) // 365.25  # Convert days to years and take absolute value

In [80]:
def calculate_employment_length(days_employed):
    # Handle negative values by converting them to positive
    if days_employed < 0:
        days_employed = abs(days_employed)  # Convert negative to positive

    # Calculate the employment length in years (with decimal precision)
    employment_length_years = days_employed / 365.25  # Convert days to years considering leap years

    # Return the employment length rounded to 2 decimal places
    return round(employment_length_years, 2)

In [81]:
#Function to edit family status
def family_status(fam_status):
    if fam_status == 'Single / not married':
        return 'Single'
    elif fam_status == 'Civil marriage':
        return 'Married'
    return fam_status

In [82]:
def house_type(house_type):
    parts = house_type.split(' /')  # Split by ' /'
    if len(parts) > 1:
        return parts[1].strip()  # Return the part after '/'
    return house_type  # Return original if no split

In [83]:
# function to convert from float dtype to int dtype
def count_of_child(cnt_family):
    return int(cnt_family)

In [84]:
# Apply the calculate_age function on the 'DAYS_BIRTH' column to calculate the customer's age
app_record['DAYS_BIRTH'] = app_record['DAYS_BIRTH'].apply(calculate_age)

# Apply the calculate_employment_length function on the 'DAYS_EMPLOYED' column to calculate employment length
app_record['DAYS_EMPLOYED'] = app_record['DAYS_EMPLOYED'].apply(calculate_employment_length)

# Apply the family_status function on the 'NAME_FAMILY_STATUS' column to standardize family status
app_record['NAME_FAMILY_STATUS'] = app_record['NAME_FAMILY_STATUS'].apply(family_status)

# Apply the house_type function on the 'NAME_HOUSING_TYPE' column to process housing type information
app_record['NAME_HOUSING_TYPE'] = app_record['NAME_HOUSING_TYPE'].apply(house_type)

# Apply the function to convert 'CNT_FAM_MEMBERS' to integer
app_record['CNT_FAM_MEMBERS'] = app_record['CNT_FAM_MEMBERS'].apply(count_of_child)

In [85]:
# Rename columns for better readability and understanding
app_record = app_record.rename(columns={'DAYS_BIRTH': 'APPLICANT_AGE', 'DAYS_EMPLOYED': 'YEARS_EMPLOYED'})

In [86]:
app_record

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,APPLICANT_AGE,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,ACCOUNT_AGE_MONTHS,Applicant_Category
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Married,Rented apartment,32.0,12.44,1,1,0,0,NaN,2,15.0,good
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Married,Rented apartment,32.0,12.44,1,1,0,0,NaN,2,14.0,good
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,apartment,58.0,3.10,1,0,0,0,Security staff,2,29.0,good
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single,apartment,52.0,8.35,1,0,1,1,Sales staff,1,4.0,good
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single,apartment,52.0,8.35,1,0,1,1,Sales staff,1,4.0,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,5149828,M,Y,Y,0,315000.0,Working,Secondary / secondary special,Married,apartment,47.0,6.63,1,0,0,0,Managers,2,11.0,bad
36453,5149834,F,N,Y,0,157500.0,Commercial associate,Higher education,Married,apartment,33.0,3.63,1,0,1,1,Medicine staff,2,23.0,bad
36454,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,apartment,33.0,3.63,1,0,1,1,Medicine staff,2,32.0,bad
36455,5150049,F,N,Y,0,283500.0,Working,Secondary / secondary special,Married,apartment,49.0,1.79,1,0,0,0,Sales staff,2,9.0,bad
36456,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single,Rented apartment,25.0,3.27,1,0,0,0,Laborers,1,13.0,bad

In [87]:
app_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36457 entries, 0 to 36456
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   36457 non-null  int64
 1   CODE_GENDER          36457 non-null  object
 2   FLAG_OWN_CAR         36457 non-null  object
 3   FLAG_OWN_REALTY      36457 non-null  object
 4   CNT_CHILDREN         36457 non-null  int64
 5   AMT_INCOME_TOTAL     36457 non-null  float64
 6   NAME_INCOME_TYPE     36457 non-null  object
 7   NAME_EDUCATION_TYPE  36457 non-null  object
 8   NAME_FAMILY_STATUS   36457 non-null  object
 9   NAME_HOUSING_TYPE    36457 non-null  object
 10  APPLICANT_AGE        36457 non-null  float64
 11  YEARS_EMPLOYED       36457 non-null  float64
 12  FLAG_MOBIL           36457 non-null  int64
 13  FLAG_WORK_PHONE      36457 non-null  int64
 14  FLAG_PHONE           36457 non-null  int64
 15  FLAG_EMAIL           36457 non-null  int64
 16  OCCUPATION_TYPE      25134 non-null  object
 17  CNT_FAM_MEMBERS      36457 non-null  int64
 18  ACCOUNT_AGE_MONTHS   36457 non-null  float64
 19  Applicant_Category   36457 non-null  object
dtypes: float64(4), int64(7), object(9)
memory usage: 5.6+ MB

In [88]:
# Unique Value Count for Each Column
column_unique_count = app_record.nunique().sort_values().reset_index()
column_unique_count.columns = ['Column_Name', 'Number_unique']
print("\nUnique Value Count:")
column_unique_count

Unique Value Count:

            Column_Name  Number_unique
0            FLAG_MOBIL              1
1    Applicant_Category              2
2           CODE_GENDER              2
3          FLAG_OWN_CAR              2
4       FLAG_OWN_REALTY              2
5            FLAG_EMAIL              2
6            FLAG_PHONE              2
7       FLAG_WORK_PHONE              2
8    NAME_FAMILY_STATUS              4
9      NAME_INCOME_TYPE              5
10  NAME_EDUCATION_TYPE              5
11    NAME_HOUSING_TYPE              6
12         CNT_CHILDREN              9
13      CNT_FAM_MEMBERS             10
14      OCCUPATION_TYPE             18
15        APPLICANT_AGE             49
16   ACCOUNT_AGE_MONTHS             61
17     AMT_INCOME_TOTAL            265
18       YEARS_EMPLOYED           1887
19                   ID          36457

In [89]:
# Convert Numerical Binary Columns to Object (Categorical)
binary_columns = ['FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL']
app_record[binary_columns] = app_record[binary_columns].astype('object')
# Replace 1 with 'Y' and 0 with 'N'
app_record[binary_columns] = app_record[binary_columns].replace({1: 'Y', 0: 'N'})

In [90]:
# Categorical Columns Overview
app_record.describe(include='O')

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,Applicant_Category
count,36457,36457,36457,36457,36457,36457,36457,36457,36457,36457,36457,25134,36457
unique,2,2,2,5,5,4,6,1,2,2,2,18,2
top,F,N,Y,Working,Secondary / secondary special,Married,apartment,Y,N,N,N,Laborers,good
freq,24430,22614,24506,18819,24777,27993,32548,36457,28235,25709,33186,6211,35841

In [91]:
# Unique Values in Categorical Columns
print("\nUnique Values in Categorical Columns:")
for col in app_record.select_dtypes(include='object').columns:
    print(f"{col}: {app_record[col].unique()}")
    print(app_record[col].value_counts())
    print('-' * 90)

Unique Values in Categorical Columns:
CODE_GENDER: ['M' 'F']
CODE_GENDER
F    24430
M    12027
Name: count, dtype: int64
------------------------------------------------------------------------------------------
FLAG_OWN_CAR: ['Y' 'N']
FLAG_OWN_CAR
N    22614
Y    13843
Name: count, dtype: int64
------------------------------------------------------------------------------------------
FLAG_OWN_REALTY: ['Y' 'N']
FLAG_OWN_REALTY
Y    24506
N    11951
Name: count, dtype: int64
------------------------------------------------------------------------------------------
NAME_INCOME_TYPE: ['Working' 'Commercial associate' 'Pensioner' 'State servant' 'Student']
NAME_INCOME_TYPE
Working                 18819
Commercial associate     8490
Pensioner                6152
State servant            2985
Student                    11
Name: count, dtype: int64
------------------------------------------------------------------------------------------
NAME_EDUCATION_TYPE: ['Higher education' 'Secondary / secondary special' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
NAME_EDUCATION_TYPE
Secondary / secondary special    24777
Higher education                  9864
Incomplete higher                 1410
Lower secondary                    374
Academic degree                     32
Name: count, dtype: int64
------------------------------------------------------------------------------------------
NAME_FAMILY_STATUS: ['Married' 'Single' 'Separated' 'Widow']
NAME_FAMILY_STATUS
Married      27993
Single        4829
Separated     2103
Widow         1532
Name: count, dtype: int64
------------------------------------------------------------------------------------------
NAME_HOUSING_TYPE: ['Rented apartment' 'apartment' 'Municipal apartment' 'With parents'
 'Co-op apartment' 'Office apartment']
NAME_HOUSING_TYPE
apartment              32548
With parents            1776
Municipal apartment     1128
Rented apartment         575
Office apartment         262
Co-op apartment          168
Name: count, dtype: int64
------------------------------------------------------------------------------------------
FLAG_MOBIL: ['Y']
FLAG_MOBIL
Y    36457
Name: count, dtype: int64
------------------------------------------------------------------------------------------
FLAG_WORK_PHONE: ['Y' 'N']
FLAG_WORK_PHONE
N    28235
Y     8222
Name: count, dtype: int64
------------------------------------------------------------------------------------------
FLAG_PHONE: ['N' 'Y']
FLAG_PHONE
N    25709
Y    10748
Name: count, dtype: int64
------------------------------------------------------------------------------------------
FLAG_EMAIL: ['N' 'Y']
FLAG_EMAIL
N    33186
Y     3271
Name: count, dtype: int64
------------------------------------------------------------------------------------------
OCCUPATION_TYPE: [nan 'Security staff' 'Sales staff' 'Accountants' 'Laborers' 'Managers'
 'Drivers' 'Core staff' 'High skill tech staff' 'Cleaning staff'
 'Private service staff' 'Cooking staff' 'Low-skill Laborers'
 'Medicine staff' 'Secretaries' 'Waiters/barmen staff' 'HR staff'
 'Realty agents' 'IT staff']
OCCUPATION_TYPE
Laborers                 6211
Core staff               3591
Sales staff              3485
Managers                 3012
Drivers                  2138
High skill tech staff    1383
Accountants              1241
Medicine staff           1207
Cooking staff             655
Security staff            592
Cleaning staff            551
Private service staff     344
Low-skill Laborers        175
Waiters/barmen staff      174
Secretaries               151
HR staff                   85
Realty agents              79
IT staff                   60
Name: count, dtype: int64
------------------------------------------------------------------------------------------
Applicant_Category: ['good' 'bad']
Applicant_Category
good    35841
bad       616
Name: count, dtype: int64
------------------------------------------------------------------------------------------

In [92]:
# Numerical Columns Overview
print("\nNumerical Columns Description:")
app_record.describe().T

Numerical Columns Description:

,count,mean,std,min,25%,50%,75%,max
ID,36457.0,5.078227e+06,41875.240788,5008804.00,5042028.0,5074614.00,5115396.00,5150487.00
CNT_CHILDREN,36457.0,4.303152e-01,0.742367,0.00,0.0,0.00,1.00,19.00
AMT_INCOME_TOTAL,36457.0,1.866857e+05,101789.226482,27000.00,121500.0,157500.00,225000.00,1575000.00
APPLICANT_AGE,36457.0,4.323203e+01,11.503981,20.00,34.0,42.00,53.00,68.00
YEARS_EMPLOYED,36457.0,1.743012e+02,371.449664,0.05,3.2,6.89,15.55,999.98
CNT_FAM_MEMBERS,36457.0,2.198453e+00,0.911686,1.00,2.0,2.00,3.00,20.00
ACCOUNT_AGE_MONTHS,36457.0,2.033239e+01,14.911849,0.00,8.0,17.00,30.00,60.00

In [93]:
# Unique Values in Numerical Columns
print("\nUnique Values in Numerical Columns:")
for col in app_record.select_dtypes(include=[np.int64, np.float64]).columns:
    print(f"{col}: {app_record[col].unique()}")
    print(app_record[col].value_counts())
    print('-' * 90)

Unique Values in Numerical Columns:
ID: [5008804 5008805 5008806 ... 5149838 5150049 5150337]
ID
5008804    1
5096993    1
5096983    1
5096987    1
5096988    1
          ..
5050819    1
5050815    1
5050813    1
5050812    1
5150337    1
Name: count, Length: 36457, dtype: int64
------------------------------------------------------------------------------------------
CNT_CHILDREN: [ 0  1  3  2  4  5 14 19  7]
CNT_CHILDREN
0     25201
1      7492
2      3256
3       419
4        63
5        20
14        3
7         2
19        1
Name: count, dtype: int64
------------------------------------------------------------------------------------------
AMT_INCOME_TOTAL: [ 427500.   112500.   270000.   283500.   135000.   130500.   157500.
  405000.   211500.   360000.   126000.   315000.   247500.   297000.
  225000.   166500.   216000.   255150.   148500.   202500.    94500.
  450000.   180000.    90000.   765000.   382500.   144000.   229500.
  292500.    74250.    40500.   337500.   193500.   267750.   139500.
   67500.   252000.   900000.   115290.   279000.    76500.   234000.
   81000.   108000.    99000.   198000.    45000.   238500.   117000.
  153000.  1350000.   445500.   495000.    85500.   306000.   562500.
  189000.   328500.   310500.   540000.   171000.   675000.   121500.
   72000.    65250.   184500.   103500.   162000.   165150.    54000.
  243000.   256500.    33300.   697500.   101250.    58500.   110250.
  472500.   196650.   630000.   432000.   257625.   143100.   207000.
  288000.   131400.   720000.   261000.    99900.    38250.   175500.
   49500.    83250.   119250.    63000.   274500.    90900.   220500.
   47250.   585000.   139050.    33750.   145350.   173250.   531000.
  387000.  1125000.    36000.   179100.   206100.   265500.   118350.
  123750.   116653.5  133650.   324000.   351000.   441000.   227250.
   51750.   517500.   396000.   810000.   178650.   165600.    69750.
   46948.5  616500.   378000.    89550.   234135.    42300.    74061.
  175950.   168750.   391500.   177012.   364500.   661500.   240750.
  333000.   342000.   167400.    50850.   141750.   176400.    30150.
  155250.   414000.    52650.   115200.    67050.   120150.   373500.
  146250.   213750.   121900.5  231750.   346500.   191250.   132372.
  159750.   132750.    91530.    97731.   170302.5  265581.    73575.
  184135.5  160200.   191700.   253800.    56700.   369000.   176175.
  134419.5  190399.5  716323.5   31500.    57150.    78750.   236250.
  208350.    38700.   222750.    72900.    56250.    62653.5  113400.
   92250.   607500.   215550.    44550.   161100.   122400.    60376.5
  254700.   787500.   140400.   185400.    31950.   129150.   612000.
   47790.    69372.   134995.5  177750.   301500.   594000.   164250.
   60750.    45900.   171261.   128542.5  178200.    73350.   124200.
   82350.    38025.   360450.    39600.   634500.   459000.    87750.
  945000.   463500.   742500.   151200.   560250.    89100.   204750.
   36900.   187650.    32400.   147150.   119700.    27000.   990000.
   61875.   355500.    79650.    37800.   140850.   195750.    29250.
  423000.    87448.5  326250.    31531.5  105750.   468000.    97650.
  114750.   418500.    95850.   652500.  1575000.    74700.    62100.
  494100.   249750.   150750.   116100.   215100.   179271. ]
AMT_INCOME_TOTAL
135000.0    4309
180000.0    3097
157500.0    3089
112500.0    2956
225000.0    2926
            ...
177750.0       1
594000.0       1
164250.0       1
124200.0       1
179271.0       1
Name: count, Length: 265, dtype: int64
------------------------------------------------------------------------------------------
APPLICANT_AGE: [32. 58. 52. 61. 46. 48. 29. 27. 30. 34. 56. 43. 44. 45. 33. 55. 42. 37.
 28. 57. 51. 54. 39. 24. 20. 38. 40. 36. 35. 41. 59. 26. 50. 53. 62. 60.
 63. 25. 22. 23. 64. 47. 31. 49. 65. 21. 66. 67. 68.]
APPLICANT_AGE
37.0    1200
40.0    1154
27.0    1125
28.0    1124
39.0    1092
33.0    1060
38.0    1058
32.0    1045
34.0    1036
42.0    1028
35.0    1020
41.0    1016
43.0     992
30.0     982
36.0     969
31.0     962
29.0     951
44.0     940
46.0     910
51.0     900
47.0     890
48.0     857
54.0     848
50.0     844
59.0     844
57.0     837
56.0     792
53.0     781
60.0     780
45.0     774
49.0     758
58.0     722
52.0     722
55.0     674
62.0     640
63.0     567
61.0     536
26.0     527
64.0     520
25.0     475
24.0     386
65.0     339
66.0     252
23.0     209
22.0     152
67.0     130
68.0      26
21.0      10
20.0       1
Name: count, dtype: int64
------------------------------------------------------------------------------------------
YEARS_EMPLOYED: [12.44  3.1   8.35 ...  3.82 22.34 30.86]
YEARS_EMPLOYED
999.98    6135
0.68       101
2.68        98
1.18        96
1.10        92
          ...
24.19        1
21.77        1
17.22        1
7.22         1
30.86        1
Name: count, Length: 1887, dtype: int64
------------------------------------------------------------------------------------------
CNT_FAM_MEMBERS: [ 2  1  5  3  4  6 15  7 20  9]
CNT_FAM_MEMBERS
2     19463
1      6987
3      6421
4      3106
5       397
6        58
7        19
15        3
9         2
20        1
Name: count, dtype: int64
------------------------------------------------------------------------------------------
ACCOUNT_AGE_MONTHS: [15. 14. 29.  4. 26. 38. 16.  5. 42.  7.  8.  3. 25. 31. 19. 34. 44. 30.
 13. 55. 32. 11.  0.  1. 28. 27. 10.  2. 24. 21. 45. 39. 43. 40. 36. 20.
 18. 17. 12.  9.  6. 23. 37. 50. 58. 22. 35. 33. 47. 60. 49. 46. 41. 57.
 56. 59. 51. 52. 48. 53. 54.]
ACCOUNT_AGE_MONTHS
7.0     1299
5.0     1278
6.0     1253
3.0     1221
8.0     1212
        ...
54.0     149
57.0     140
58.0     137
59.0     137
60.0     128
Name: count, Length: 61, dtype: int64
------------------------------------------------------------------------------------------

In [94]:
# Check Duplicate Rows
duplicate_count = app_record.duplicated().sum()
print(f"\nNumber of Duplicate Rows: {duplicate_count}")

Number of Duplicate Rows: 0

In [95]:
app_record.isnull().sum()

ID                         0
CODE_GENDER                0
FLAG_OWN_CAR               0
FLAG_OWN_REALTY            0
CNT_CHILDREN               0
AMT_INCOME_TOTAL           0
NAME_INCOME_TYPE           0
NAME_EDUCATION_TYPE        0
NAME_FAMILY_STATUS         0
NAME_HOUSING_TYPE          0
APPLICANT_AGE              0
YEARS_EMPLOYED             0
FLAG_MOBIL                 0
FLAG_WORK_PHONE            0
FLAG_PHONE                 0
FLAG_EMAIL                 0
OCCUPATION_TYPE        11323
CNT_FAM_MEMBERS            0
ACCOUNT_AGE_MONTHS         0
Applicant_Category         0
dtype: int64

In [96]:
#Create income bins to categorize the annual income
income_bins = [0, 50000, 100000, 150000, 200000, 250000, 300000, float('inf')]  # Define income bins
income_labels = ['0-50K', '50K-100K', '100K-150K', '150K-200K', '200K-250K', '250K-300K', '300K+']  # Labels for bins
# Add a new column 'income_group' to categorize the 'AMT_INCOME_TOTAL'
app_record['income_group'] = pd.cut(app_record['AMT_INCOME_TOTAL'], bins=income_bins, labels=income_labels, right=False)

In [97]:
app_record

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,ACCOUNT_AGE_MONTHS,Applicant_Category,income_group
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Married,Rented apartment,...,12.44,Y,Y,N,N,NaN,2,15.0,good,300K+
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Married,Rented apartment,...,12.44,Y,Y,N,N,NaN,2,14.0,good,300K+
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,apartment,...,3.10,Y,N,N,N,Security staff,2,29.0,good,100K-150K
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single,apartment,...,8.35,Y,N,Y,Y,Sales staff,1,4.0,good,250K-300K
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single,apartment,...,8.35,Y,N,Y,Y,Sales staff,1,4.0,good,250K-300K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,5149828,M,Y,Y,0,315000.0,Working,Secondary / secondary special,Married,apartment,...,6.63,Y,N,N,N,Managers,2,11.0,bad,300K+
36453,5149834,F,N,Y,0,157500.0,Commercial associate,Higher education,Married,apartment,...,3.63,Y,N,Y,Y,Medicine staff,2,23.0,bad,150K-200K
36454,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,apartment,...,3.63,Y,N,Y,Y,Medicine staff,2,32.0,bad,150K-200K
36455,5150049,F,N,Y,0,283500.0,Working,Secondary / secondary special,Married,apartment,...,1.79,Y,N,N,N,Sales staff,2,9.0,bad,250K-300K
36456,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single,Rented apartment,...,3.27,Y,N,N,N,Laborers,1,13.0,bad,100K-150K

In [98]:
#For each income group, find the most frequent occupation type
occupation_by_income = app_record.groupby('income_group')['OCCUPATION_TYPE'].agg(lambda x: x.mode()[0] if not x.mode().empty else np.nan).reset_index()

<ipython-input-98-1814ad0bf7aa>:2: FutureWarning:

The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

In [99]:
# Merge the occupation_by_income DataFrame back with the original DataFrame
app_record = app_record.merge(occupation_by_income, on='income_group', how='left', suffixes=('', '_filled'))

In [100]:
# Fill missing 'OCCUPATION_TYPE' values with the most common occupation in the corresponding income group
app_record['OCCUPATION_TYPE'].fillna(app_record['OCCUPATION_TYPE_filled'], inplace=True)

<ipython-input-100-713bade4d208>:2: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [101]:
# Check if there are still any missing values in 'OCCUPATION_TYPE'
print(f"Remaining missing values in 'OCCUPATION_TYPE': {app_record['OCCUPATION_TYPE'].isnull().sum()}")

Remaining missing values in 'OCCUPATION_TYPE': 0

In [103]:
app_record['OCCUPATION_TYPE'].unique()

array(['Managers', 'Security staff', 'Sales staff', 'Laborers',
       'Accountants', 'Drivers', 'Core staff', 'High skill tech staff',
       'Cleaning staff', 'Private service staff', 'Cooking staff',
       'Low-skill Laborers', 'Medicine staff', 'Secretaries',
       'Waiters/barmen staff', 'HR staff', 'Realty agents', 'IT staff'],
      dtype=object)

In [102]:
import plotly.express as px

# Calculate gender counts
number_of_gender = app_record["CODE_GENDER"].value_counts()
gender = {"Gender": ["Female", "Male"], "Count": [number_of_gender["F"], number_of_gender["M"]]}

# Create the bar chart
fig = px.bar(
    x=gender["Gender"],
    y=gender["Count"],
    title="<b>Gender Distribution</b>",
    color=gender["Gender"],
    color_discrete_map={"Female": "brown", "Male": "chocolate"}
)

# Update chart layout and bar width
fig.update_traces(width=0.4)  # Reduce the width of the bars
fig.update_layout(
    xaxis_title="Gender",
    yaxis_title="Count",
    legend_title="Gender",
    title_x=0.5,  # Center the title
    title_font_size=27,
    title_font_color="black",
    height=600
)

# Show the chart
fig.show()