<a href="https://colab.research.google.com/github/fazmila/Project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Reading the dataset1
app_record= pd.read_csv('/content/drive/MyDrive/application_record.csv')
app_record

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,NaN,1.0
438553,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0
438554,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438555,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,NaN,2.0
438556,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

In [3]:
cred_record  = pd.read_csv('/content/drive/MyDrive/credit_record.csv')
cred_record

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [4]:
#To display the first five rows of the Application Data.
app_record.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [5]:
#To display the first five rows of the Credit Data.
cred_record .head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [6]:
#To show the number of rows and columns in dataset
app_record.shape

(438557, 18)

In [7]:
cred_record .shape

(1048575, 3)

In [8]:
# Find and display the unique values in the 'STATUS' column
unique_status_values = cred_record ['STATUS'].unique()
print("Unique values in the 'STATUS' column:", unique_status_values)

Unique values in the 'STATUS' column: ['X' '0' 'C' '1' '2' '3' '4' '5']

In [9]:
# Group data by ID and calculate the account age
account_age = cred_record .groupby('ID')['MONTHS_BALANCE'].agg(['min', 'max'])
# Calculate the age in months for each ID
account_age['ACCOUNT_AGE_MONTHS'] = account_age['max'] - account_age['min']
# Reset the index for better readability
account_age = account_age.reset_index()
account_age.head()

        ID  min  max  ACCOUNT_AGE_MONTHS
0  5001711   -3    0                   3
1  5001712  -18    0                  18
2  5001713  -21    0                  21
3  5001714  -14    0                  14
4  5001715  -59    0                  59

In [10]:
# Drop the 'min' and 'max' columns, keeping only 'ACCOUNT_AGE_MONTHS'
account_age = account_age[['ID', 'ACCOUNT_AGE_MONTHS']]

# Display the updated DataFrame
account_age.head()

        ID  ACCOUNT_AGE_MONTHS
0  5001711                   3
1  5001712                  18
2  5001713                  21
3  5001714                  14
4  5001715                  59

In [11]:
# Join account_age with app_record on 'ID'
app_record = app_record.merge(account_age, on='ID', how='left')
# Display the first few rows of the merged dataset
app_record.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,ACCOUNT_AGE_MONTHS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,15.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,14.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,29.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0

In [12]:
# Initialize 'Applicant_Category' column to None
cred_record ['Applicant_Category'] = None

# Define a function to classify applicants based on the 'STATUS' value
def classify_applicant(status):
    if status in ['2', '3', '4', '5']:
        return 'bad'
    else:
        return 'good'

# Apply the function to the 'STATUS' column to classify applicants
cred_record ['Applicant_Category'] = cred_record ['STATUS'].apply(classify_applicant)

In [13]:
# Display the unique values in the 'Applicant_Category' column
cred_record ['Applicant_Category'].unique()

array(['good', 'bad'], dtype=object)

In [14]:
# Create a new DataFrame to summarize applicant status
# Count occurrences of 'bad' and 'good' for each 'ID'
applicant_status = cred_record.groupby('ID')['Applicant_Category'].apply(
    lambda x: 'bad' if (x == 'bad').sum() > 0 else 'good'
).reset_index()

In [15]:
applicant_status

            ID Applicant_Category
0      5001711               good
1      5001712               good
2      5001713               good
3      5001714               good
4      5001715               good
...        ...                ...
45980  5150482               good
45981  5150483               good
45982  5150484               good
45983  5150485               good
45984  5150487               good

[45985 rows x 2 columns]

In [16]:
# Join the applicant_status DataFrame with the application_record DataFrame on the 'ID' column
app_record = pd.merge(app_record, applicant_status, how='inner', on='ID')

# Display the first few rows of the merged DataFrame
app_record

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,ACCOUNT_AGE_MONTHS,Applicant_Category
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,15.0,good
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,14.0,good
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,29.0,good
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0,good
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,5149828,M,Y,Y,0,315000.0,Working,Secondary / secondary special,Married,House / apartment,-17348,-2420,1,0,0,0,Managers,2.0,11.0,bad
36453,5149834,F,N,Y,0,157500.0,Commercial associate,Higher education,Married,House / apartment,-12387,-1325,1,0,1,1,Medicine staff,2.0,23.0,bad
36454,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,House / apartment,-12387,-1325,1,0,1,1,Medicine staff,2.0,32.0,bad
36455,5150049,F,N,Y,0,283500.0,Working,Secondary / secondary special,Married,House / apartment,-17958,-655,1,0,0,0,Sales staff,2.0,9.0,bad
36456,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,13.0,bad

In [17]:
app_record.shape

(36457, 20)

In [18]:
# Function to calculate the age of a customer in years
def calculate_age(days_birth):
    return abs(days_birth) // 365.25  # Convert days to years and take absolute value

In [19]:
def calculate_employment_length(days_employed):
    # Handle negative values by converting them to positive
    if days_employed < 0:
        days_employed = abs(days_employed)  # Convert negative to positive

    # Calculate the employment length in years (with decimal precision)
    employment_length_years = days_employed / 365.25  # Convert days to years considering leap years

    # Return the employment length rounded to 2 decimal places
    return round(employment_length_years, 2)

In [20]:
#Function to edit family status
def family_status(fam_status):
    if fam_status == 'Single / not married':
        return 'Single'
    elif fam_status == 'Civil marriage':
        return 'Married'
    return fam_status

In [21]:
def house_type(house_type):
    parts = house_type.split(' /')  # Split by ' /'
    if len(parts) > 1:
        return parts[1].strip()  # Return the part after '/'
    return house_type  # Return original if no split

In [22]:
# function to convert from float dtype to int dtype
def count_of_child(cnt_family):
    return int(cnt_family)

In [23]:
# Apply the calculate_age function on the 'DAYS_BIRTH' column to calculate the customer's age
app_record['DAYS_BIRTH'] = app_record['DAYS_BIRTH'].apply(calculate_age)

# Apply the calculate_employment_length function on the 'DAYS_EMPLOYED' column to calculate employment length
app_record['DAYS_EMPLOYED'] = app_record['DAYS_EMPLOYED'].apply(calculate_employment_length)

# Apply the family_status function on the 'NAME_FAMILY_STATUS' column to standardize family status
app_record['NAME_FAMILY_STATUS'] = app_record['NAME_FAMILY_STATUS'].apply(family_status)

# Apply the house_type function on the 'NAME_HOUSING_TYPE' column to process housing type information
app_record['NAME_HOUSING_TYPE'] = app_record['NAME_HOUSING_TYPE'].apply(house_type)

# Apply the function to convert 'CNT_FAM_MEMBERS' to integer
app_record['CNT_FAM_MEMBERS'] = app_record['CNT_FAM_MEMBERS'].apply(count_of_child)

In [24]:
# Rename columns for better readability and understanding
app_record = app_record.rename(columns={'DAYS_BIRTH': 'APPLICANT_AGE', 'DAYS_EMPLOYED': 'YEARS_EMPLOYED'})

In [25]:
app_record

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,APPLICANT_AGE,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,ACCOUNT_AGE_MONTHS,Applicant_Category
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Married,Rented apartment,32.0,12.44,1,1,0,0,NaN,2,15.0,good
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Married,Rented apartment,32.0,12.44,1,1,0,0,NaN,2,14.0,good
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,apartment,58.0,3.10,1,0,0,0,Security staff,2,29.0,good
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single,apartment,52.0,8.35,1,0,1,1,Sales staff,1,4.0,good
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single,apartment,52.0,8.35,1,0,1,1,Sales staff,1,4.0,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,5149828,M,Y,Y,0,315000.0,Working,Secondary / secondary special,Married,apartment,47.0,6.63,1,0,0,0,Managers,2,11.0,bad
36453,5149834,F,N,Y,0,157500.0,Commercial associate,Higher education,Married,apartment,33.0,3.63,1,0,1,1,Medicine staff,2,23.0,bad
36454,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,apartment,33.0,3.63,1,0,1,1,Medicine staff,2,32.0,bad
36455,5150049,F,N,Y,0,283500.0,Working,Secondary / secondary special,Married,apartment,49.0,1.79,1,0,0,0,Sales staff,2,9.0,bad
36456,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single,Rented apartment,25.0,3.27,1,0,0,0,Laborers,1,13.0,bad

In [26]:
# Verify the conversion by checking the data types of the columns
app_record.dtypes

ID                       int64
CODE_GENDER             object
FLAG_OWN_CAR            object
FLAG_OWN_REALTY         object
CNT_CHILDREN             int64
AMT_INCOME_TOTAL       float64
NAME_INCOME_TYPE        object
NAME_EDUCATION_TYPE     object
NAME_FAMILY_STATUS      object
NAME_HOUSING_TYPE       object
APPLICANT_AGE          float64
YEARS_EMPLOYED         float64
FLAG_MOBIL               int64
FLAG_WORK_PHONE          int64
FLAG_PHONE               int64
FLAG_EMAIL               int64
OCCUPATION_TYPE         object
CNT_FAM_MEMBERS          int64
ACCOUNT_AGE_MONTHS     float64
Applicant_Category      object
dtype: object

In [27]:
import plotly.express as px

# Calculate gender percentages
gender_counts = app_record["CODE_GENDER"].value_counts()
gender_percent = (gender_counts["F"] / len(app_record)) * 100

# Create the pie chart
fig = px.pie(
    values=[gender_percent, 100 - gender_percent],
    names=["Female", "Male"],
    title="Gender Percentage",
    color_discrete_sequence=["#1f77b4", "#d62728"]  # Blue for Female, Red for Male
)

# Show the chart
fig.show()