<a href="https://colab.research.google.com/github/fazmila/Project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [165]:
#Importing required libraries
import pandas as pd
import numpy as np

In [166]:
#Reading the dataset1
application_record = pd.read_csv('/content/drive/MyDrive/application_record.csv')
application_record

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,NaN,1.0
438553,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0
438554,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438555,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,NaN,2.0
438556,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

In [167]:
credit_record = pd.read_csv('/content/drive/MyDrive/credit_record.csv')
credit_record

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [168]:
#To display the first five rows of the Application Data.
application_record.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [169]:
#To display the first five rows of the Credit Data.
credit_record.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [170]:
#To show the number of rows and columns in dataset
application_record.shape

(438557, 18)

In [171]:
credit_record.shape

(1048575, 3)

In [172]:
# Find and display the unique values in the 'STATUS' column
unique_status_values = credit_record['STATUS'].unique()
print("Unique values in the 'STATUS' column:", unique_status_values)

Unique values in the 'STATUS' column: ['X' '0' 'C' '1' '2' '3' '4' '5']

In [173]:
# Group data by ID and calculate the account age
account_age = credit_record.groupby('ID')['MONTHS_BALANCE'].agg(['min', 'max'])
# Calculate the age in months for each ID
account_age['ACCOUNT_AGE_MONTHS'] = account_age['max'] - account_age['min']
# Reset the index for better readability
account_age = account_age.reset_index()
account_age.head()

        ID  min  max  ACCOUNT_AGE_MONTHS
0  5001711   -3    0                   3
1  5001712  -18    0                  18
2  5001713  -21    0                  21
3  5001714  -14    0                  14
4  5001715  -59    0                  59

In [174]:
# Drop the 'min' and 'max' columns, keeping only 'ACCOUNT_AGE_MONTHS'
account_age = account_age[['ID', 'ACCOUNT_AGE_MONTHS']]

# Display the updated DataFrame
account_age.head()

        ID  ACCOUNT_AGE_MONTHS
0  5001711                   3
1  5001712                  18
2  5001713                  21
3  5001714                  14
4  5001715                  59

In [175]:
# Join account_age with application_record on 'ID'
application_record = application_record.merge(account_age, on='ID', how='left')
# Display the first few rows of the merged dataset
application_record.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,ACCOUNT_AGE_MONTHS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,15.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,14.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,29.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0

In [176]:
#Define a new column 'Appilcant_Category' initialized to None
credit_record['Appilcant_Category'] = None

# Define a function to classify applicants based on the 'STATUS' value
def classify_applicant(status):
    if status in ['2', '3', '4', '5']:
        return 'bad'
    else:
        return 'good'

# Apply the function to the 'STATUS' column to create 'Applicant_Category'
credit_record['Appilcant_Category'] = credit_record['STATUS'].apply(classify_applicant)

In [177]:
# Display the unique values in the 'Appilcant_Category' column
credit_record['Appilcant_Category'].unique()

array(['good', 'bad'], dtype=object)

In [178]:
#Create a new applicant_status DataFrame to count the occurrences of each applicant
# Group by 'ID' and count the number of non-null values in the 'Appilcant_Category' column
applicant_status = credit_record.groupby('ID').count()

In [179]:
#Set the 'Appilcant_Category' column based on the count of 'bad' or 'good' status
applicant_status['Appilcant_Category'] = applicant_status['Appilcant_Category'].apply(
    lambda x: 'bad' if x > 0 else 'good'
)

In [180]:
#Reset the index to get a clean DataFrame
applicant_status = applicant_status.reset_index()
#Keep only the 'ID' and 'Appilcant_Category' columns
applicant_status = applicant_status[['ID', 'Appilcant_Category']]
applicant_status

            ID Appilcant_Category
0      5001711                bad
1      5001712                bad
2      5001713                bad
3      5001714                bad
4      5001715                bad
...        ...                ...
45980  5150482                bad
45981  5150483                bad
45982  5150484                bad
45983  5150485                bad
45984  5150487                bad

[45985 rows x 2 columns]

In [181]:
# Join the applicant_status DataFrame with the application_record DataFrame on the 'ID' column
application_record = pd.merge(application_record, applicant_status, how='inner', on='ID')

# Display the first few rows of the merged DataFrame
application_record

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,ACCOUNT_AGE_MONTHS,Appilcant_Category
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,15.0,bad
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,14.0,bad
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,29.0,bad
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0,bad
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,4.0,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,5149828,M,Y,Y,0,315000.0,Working,Secondary / secondary special,Married,House / apartment,-17348,-2420,1,0,0,0,Managers,2.0,11.0,bad
36453,5149834,F,N,Y,0,157500.0,Commercial associate,Higher education,Married,House / apartment,-12387,-1325,1,0,1,1,Medicine staff,2.0,23.0,bad
36454,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,House / apartment,-12387,-1325,1,0,1,1,Medicine staff,2.0,32.0,bad
36455,5150049,F,N,Y,0,283500.0,Working,Secondary / secondary special,Married,House / apartment,-17958,-655,1,0,0,0,Sales staff,2.0,9.0,bad
36456,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,13.0,bad